In [1]:
import pandas as pd
from time import time
from sqlalchemy import create_engine
import argparse
import os
import gzip
import shutil

In [2]:
os.system("wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz")

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0

0

In [15]:
os.system("wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv")

--2024-08-25 22:09:27--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 52.85.39.117, 52.85.39.65, 52.85.39.97, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|52.85.39.117|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv’

     0K .......... ..                                         100% 16.0M=0.001s

2024-08-25 22:09:27 (16.0 MB/s) - ‘taxi_zone_lookup.csv’ saved [12331/12331]

0

In [16]:
os.listdir('.')

['week1_hw.ipynb',
 '.ipynb_checkpoints',
 'Scripts.txt',
 'Untitled.ipynb',
 'ingest_hw_data_csv.py',
 'taxi_zone_lookup.csv',
 'ny_taxi_postgres_data',
 'green_tripdata_2019-09.csv',
 'data_pgadmin',
 'green_tripdata_2019-09.csv.gz',
 'docker-compose.yaml',
 'Dockerfile']

In [5]:
for filename in os.listdir('.'):
  if filename.endswith('.gz'): 
     with gzip.open(filename, 'rb') as f_in:
       with open(filename[:-3], 'wb') as f_out:
         shutil.copyfileobj(f_in, f_out)

In [6]:
os.listdir('.')

['week1_hw.ipynb',
 '.ipynb_checkpoints',
 'Scripts.txt',
 'Untitled.ipynb',
 'ingest_hw_data_csv.py',
 'green_tripdata_2019-09.csv',
 'green_tripdata_2019-09.csv.gz',
 'Dockerfile']

In [12]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [13]:
engine.connect()

In [17]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=100000)

In [18]:
df = next(df_iter)

In [20]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [21]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [23]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [25]:
df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

1000

In [26]:
while True:
    try:
        t_start = time()

        df = next(df_iter)

        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))
    except StopIteration:
        print('completed')
        break

inserted another chunk, took 9.683 second
inserted another chunk, took 10.005 second

/tmp/ipykernel_31692/1604087859.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 10.070 second
inserted another chunk, took 4.234 second
completed

In [27]:
df =  pd.read_csv('taxi_zone_lookup.csv')

In [28]:
df.to_sql(name='taxi_zone_lookup',con=engine,if_exists='replace')

265